body {
  padding: 0 30px;
  font-size: 18px;
  line-height: 26px;
  font-family: "Cormorant Infant", serif;
  color: #222222;

  background: #ffffff;
}

h1 {
  font-size: 40px;
  line-height: normal;
}

h2 {
	font-family: 'Comfortaa', cursive;
	font-size: 14px;
}

.navigacia td {
	background: #40E0D0;
	opacity: 0.5;
	width: 15%;
	text-align: center;
}

a {
	color: blue;
	text-decoration: none;
	font-family: 'Press Start 2P', cursive;
}

footer {
	border-top: 1px solid #808080;
	opacity: 0.5;
	text-align: center;
	margin-top: 100%;
	font-family: Ariel, sans-serif;
}

.love {
	display: inline;
}

.loves {
	height: 45px;
	position: absolute;
	left: 52%;
	opacity: 0;
}

.header-title {
	background: #82A2FF;
	text-align: center;
	margin: 10px;
	padding: 10px;
	color: #FFFFFF;
	font-family: 'Amatic SC', cursive;
	box-shadow: 3px 3px 7px #BBB;
}

.avatarka {
	transform: rotate(90deg);
	padding: 5px;
	border: 3px dashed #FFACB6;
	margin-bottom: 7%;
	background: #FFF;
}

.imya {
	float: right;
	background-image: url(oblako.png);
	background-position: center;
	width: 52%;
	padding: 3%;
	margin-right: 22%;
	margin-top: 2%;
}

.biograf {
	padding: 5px;
	border: 3px dashed #FFACB6;
	margin-left: 40%;
	margin-top: 1%;
	height: 185px;
}

.biografia {
	float: right;
	background: #FFCDC4;
	width: 95%;
	padding: 2%;
	margin-top: 2%;
	border: 5px solid #FFACB6;
}

.hahaha {
	border-bottom: 1px dashed;
}

.zvezda {
	list-style: none;
	background: url(zvezda.svg) no-repeat left 50%;
	padding-left: 6%;
	padding-bottom: 2%;
}

.dostizhenia {
	background: #FFCC8E;
	padding: 9px;
	margin-top: 3%;
	text-align: center;
	border: 5px dashed #FFA98C;
	color: #813B14;
	width: 35%;
	margin-left: 40%;
	margin-bottom: 3%;
}

.reklama {
	text-align: center;
	padding: 3%;
	padding-top: 50%;
	padding-bottom: 50%;
	vertical-align: middle;
	border: 3px outset #f3baba;
	background-color: #faf0e6;
	opacity: 0.7;
	text-shadow: 4px 4px 2px rgba(0,0,0,0.6);
}

.dostizh {
	width: 1000px;
}

.partnership {
	width: 13%;
}

.heart {
	float: right;
	margin: 5%;
	margin-top: 25%;
}

.serdce {
	position: fixed;
	vertical-align: bottom;
}

.yatyalyu {
	float: right;
	background: #aaff00;
	color: #7569ff;
	padding: 10px;
	margin-top: 15px;
	border: 7px groove #ffa384;
}

.ssilka {
	font-family: 'Old Standard TT', cursive;
	color: #813b14;
}

.uslugi {
	text-align: center;
	background: url(uslu.png) no-repeat center 100%;
	font-family: 'Marck Script', cursive;
	width: 55%;
	font-size: 25px;
	line-height: 40px;
	padding: 30px;
	padding-top: 20px;
	padding-bottom: 90px;
	color: rgba(47,56,61,0.9);
	margin-left: 20%;
	margin-top: 4%;
	display: block;
}

.uslugi li {
	list-style-type: none;
}

.abzac {
	text-indent: 40px;
	text-align: left;
}

.kontak {
	
}

.kontakti {
	
}

.pis {
	
}

.pismo {
	background: #ffffd4;
	padding: 4%;
}

.aaronovna {
	float: right;
}

.tetrad {
	font-family: "Cormorant Infant", serif;
	font-size: 17px;
	color: #326ada;
}

.harms {
	white-space: pre-wrap;
	background: #c9e5ff;
	padding: 3%;
}

.piece {
	float: right;
	color: #f3ff69;
	background-color: #ffc9e7;
	border: 7px groove #c9e5ff;
	padding: 10px;
	margin-top: 15px;
	font-family: Ariel, sans-serif;
}

#imya {
	text-decoration: underline;
}

#glavnaya,
#biografia,
#dostizhenia,
#uslugi,
#kontakti,
#pismo {
	color: red;
}

a:hover {
	color: red;
}

.ssilka:hover {
	color: #6921f6;
}

.reklama:hover {
	background-color: #fff783;
}

.ssilka:active {
	color: black;
}

.reklama:active {
	background-color: blue;
}

.zvezda:hover {
	background-color: rgb(210,245,206);
}

.loves:hover {
	opacity: 1;
}

.biograf:hover,
.avatarka:hover {
	border: 3px solid #FFACB6;
}

.biografia:hover,
.imya:hover {
	border: 6px ridge #9fcabb;
}

.dostizhenia:hover {
	background: #835b5b;
}

.uslugi:hover {
	box-shadow: -5px -5px 15px 2px #A39193;
}

.uslugi li:hover {
	background: rgba(163,145,147,0.5);
}

.uslugi .abzac:hover {
	background: rgba(201,229,255,0.5);
}

.uslugi p b:hover {
	font-family: "Comfortaa";
}

.yatyalyu:hover {
	color: #f3ff69;
	background-color: #ffc9e7;
	border: 7px groove #c9e5ff;
}

.yatyalyu:active {
	color: #7569ff;
	background-color: #efdcdd;
}

.piece:active {
	background-color: #aa0055;
}

.tetrad:hover {
	color: #03396c;
	text-decoration: underline;
}